body {
    width: 100vw;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  p {
    font-family: helvetica;
    font-size: 24px;
    text-align: center;
    margin: 25px;
  }
  
  .small {
    font-family: helvetica;
    font-size: 18px;
    text-align: center;
    margin: 25px;
  }
  

  #pdf-file-input{
    border: 2px solid red;
    cursor: pointer;
  }
  
  #pdfContent{
    display: none;
  }

  #pdfContent:has(canvas) {
    display: block;
    position: relative;
    margin-top: 20px;
    border: 2px solid red;
    height: 100%;
    width: min-content;
    overflow: auto;
  }

  .drawing {
    outline: 2px solid green;
  }

  